:root {
  // Shadows
  --sh-dialog-strong: 0px 16px 48px rgba(0, 0, 0, 0.24);
  --sh-dialog: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --sh-content: 0px 2px 4px rgba(0, 0, 0, 0.08);
  --sh-canvas: 0px 0px 0px rgba(0, 0, 0, 0);
  --sh-keyboard-key: 0 2px 0px var(--grey4);

  // Focus
  --sh-default: 0px 0px 0px 2px var(--blue5);
  --sh-accent: 0px 0px 0px 2px var(--blue8);
  --sh-inverse: 0px 0px 0px 2px var(--white);

  // Border widths
  --b--muted--width-01: inset 0px 0px 0px 1px var(--grey2);
  --b--muted--width-02: inset 0px 0px 0px 2px var(--grey2);
  --b--muted--width-04: inset 0px 0px 0px 4px var(--grey2);
  --b--width-01: inset 0px 0px 0px 1px var(--grey4);
  --b--width-02: inset 0px 0px 0px 2px var(--grey4);
  --b--width-04: inset 0px 0px 0px 4px var(--grey4);
  --b--strong--muted-width-01: inset 0px 0px 0px 1px var(--grey6);
  --b--strong--muted-width-02: inset 0px 0px 0px 2px var(--grey6);
  --b--strong--muted-width-04: inset 0px 0px 0px 4px var(--grey6);
  --b-bottom--muted-width-01: inset 0px -1px 0px var(--grey2);
  --b--bottom--width-01: inset 0px -1px 0px var(--grey4);
  --b--bottom--strong-width-01: inset 0px -1px 0px var(--grey6);
  --b--bottom--muted-width-02: inset 0px -2px 0px var(--grey2);
  --b--bottom--width-02: inset 0px -2px 0px var(--grey4);
  --b--botom--strong-width-02: inset 0px -2px 0px var(--grey6);
}